.input-custom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-custom input {
  background-color: var(--background-card);
  color: var(--text-primary);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-md);
  padding: var(--spacing-sm) var(--spacing-md);
  transition: var(--transition-normal);
}

.input-custom input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
}

.input-custom label {
  color: var(--text-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
}
