@import "tailwindcss";
@import "./theme/variables.css";
@import "./theme/card.css";
@import "./theme/typography.css";
@import "./theme/form.css";
@import "./theme/button.css";

body {
  background-color: var(--background-primary);
  padding: var(--spacing-md);
  min-height: 100vh;
}
